<div class="news">
  {% assign news = 
    "[
      { 'date': '2024-10-01', 'title': 'New AI Breakthrough Announced', 'url': '/news/ai-breakthrough', 'inline': false },
      { 'date': '2024-09-15', 'content': 'We launched a new product today!', 'inline': true },
      { 'date': '2024-08-10', 'title': 'Upcoming Event: AI in Healthcare', 'url': '/news/ai-healthcare', 'inline': false }
    ]" | jsonify | parse %}
  
  {% if news != blank %}
  {% assign news_size = news | size %}
  <div class="table-responsive" {% if include.limit and site.announcements.scrollable and news_size > 3 %}style="max-height: 60vw"{% endif %}>
    <table class="table table-sm table-borderless">
      {% assign news_items = news | reverse %}
      {% if include.limit and site.announcements.limit %}
      {% assign news_limit = site.announcements.limit %}
      {% else %}
      {% assign news_limit = news_size %}
      {% endif %}
      {% for item in news_items limit: news_limit %}
        <tr>
          <th scope="row">{{ item.date | date: "%b %-d, %Y" }}</th>
          <td>
            {% if item.inline %}
              {{ item.content | emojify }}
            {% else %}
              <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
  {% else %}
  <p>No news so far...</p>
  {% endif %}
</div>
